{% extends "base.html" %}

{% block title %}
Tools
{% endblock title %}

{% block content %}
Tools List
<br>

<div class="card mb-3">
    <a href="{% url 'calculator:calculator' %}" class="card-body">Calculator</a>
    <a href="{% url 'calendarwithevent:calendarwithevent' %}" class="card-body">Calendar with Event</a>
    <a href="{% url 'excurrency:excurrency' %}" class="card-body">Currency Exchange Rate</a>
    <a href="{% url 'worldtime:timeconvert' %}" class="card-body">World Time Conversion</a>
    <a href="{% url 'todolist:todolist' %}" class="card-body">To-Do List</a>
</div>

{% endblock content %}