{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'tools/openai_general.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
OpenAI: General Question
{% endblock title %}

{% block content %}

<div class="card ms-5 mt-5 ps-2 pt-3 pb-3">
    <h4 class="text-primary">{{ instruction }}</h4>
    <form id="openai-form" autocomplete="off">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <br>
    <div id="spinner-box" class="not-visible">
        <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="card ms-5 mt-5 ps-2 pt-3 pb-3">
    {% if user.profile.language == "Korean" %}
        <h4 class="text-success">질문 내용:</h4>
    {% else %}
        <h4 class="text-success">Question asked:</h4>
    {% endif %}

    <div id="ai-general-prompt" class="text-primary">
    </div>

    <br />

    {% if user.profile.language == "Korean" %}
        <h4 class="text-success">답변:</h4>
    {% else %}
        <h4 class="text-success">Response:</h4>
    {% endif %}

    <div id="ai-response" class="text-primary">
    </div>

    <div id="alert-box"></div>
</div>

<div class="card ms-5 mt-5 ps-2 pt-3 pb-3">
    <a href="https://chat.openai.com/" class="card-body">Go To ChatGPT</a>
    <a href="https://openai.com/" class="card-body">Go To OpenAI</a>
</div>

{% endblock content %}

