{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
my profile
{% endblock title %}

{% block content %}

{% if success_message %}
<div class="alert alert-primary" role="alert">
    {{ success_message }}
</div>
{% endif %}

<img src="{{ profile.avatar.url }}" alt="my-profile" class="avatar-big">

<br>

<div class="card mb-3">
    {% if number_of_posts %}
    <h5>You have posted {{ number_of_posts }} article(s) in Bulletin! </h5>
    <ul>
        <li>Like(s):    {{number_of_likers}}</li>
        <li>Comment(s): {{number_of_comments}}</li>
        <li>Reply(s):   {{number_of_replies}}</li>
    </ul>
    {% else %}
    <h5>You have 0 post in Bulletin, already!</h5>
    {% endif %}
    <br>

    {% if number_of_friends %}
    <h5>You have {{ number_of_friends }} friend(s)! </h5>
    <ul>
        {% for friend in friends_list %}
        <li><img src="{{ friend.profile.avatar.url }}" alt="my-profile" class="avatar-tnail">  {{ friend.username }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h5>You have 0 friend, already!</h5>
    {% endif %}
</div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-outline-primary"
    value="Update"
    type="submit">
    <input class="btn btn-outline-primary"
    value="Cancel"
    type="button"
    onclick="location.href='{% url "sales:saleslist" %}'">
    <input class="btn btn-outline-primary"
    value="Change Password"
    type="button"
    onclick="location.href='{% url "profiles:password_change" %}'">
</form>

{% endblock content %}

