{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Invite Friends
{% endblock title %}

{% block content %}

{% if is_empty %}
<h5>No profiles to send invites</h5>
{% endif %}

{% for obj in qs %}
<div class="card mb-3">
    <div class="row">
        <div class="col-2">
            <img src="{{obj.avatar.url}}" alt="my-profile" class="avatar-md">
        </div>
        <div class="col">
            <h3>{{obj.user}}</h3>
            <h3>{{obj.bio}}</h3>
            <a href="{{ obj.get_absolute_url }}"><button class="btn btn-primary mb-1 w-big">See profile</button></a>
            <br>
            <form action="{% url 'profiles:send-invite' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                <button type="submit" class="btn btn-info mb-1 w-big"><i class=""></i>Send invite</button>
            </form>
            <br>

        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}