{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'table_numbers.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="row">
  {% if user.profile.language == "Korean" %}
  <h3 class="text-center mt-3"><b>[재고 현황]</b></h3>
  {% else %}
  <h3 class="text-center mt-3"><b>[Inventory Status]</b></h3>
  {% endif %}
  <div class="d-flex mb-3">
    {% if user.profile.language == "Korean" %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'products:inventoryreset' %}" role="button">재고정리</a>
    </div>
    {% else %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'products:inventoryreset' %}" role="button">Inventory Reset</a>
    </div>
    {% endif %}
  </div>
  <table class="table text-center table-hover">
    <thead  class="table-light">
      {% if user.profile.language == "Korean" %}
        <tr>
        <th scope="col">제품 ID</th>
        <th scope="col">이름</th>
        <th scope="col">통화</th>
        <th scope="col" class="text-danger"><b>재고수량</b></th>
        <!--
        <th scope="col" class="text-info">총입고수량</th>
        -->
        <th scope="col">평균원환율</th>
        <th scope="col" class="text-success">평균구매단가(통화)</th>
        <th scope="col" class="text-success">평균구매단가(KRW)</th>
        <!--
        <th scope="col" class="text-primary"><b>총입고원가(KRW)</b></th>
        -->
        <th scope="col">분류</th>
        <th scope="col">공급사</th>
        <th scope="col">입력일</th>
        </tr>
      {% else %}
        <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Currency</th>
        <th scope="col" class="text-danger"><b>Inventory</b></th>
        <!--
        <th scope="col" class="text-info">Total Quantity</th>
        -->
        <th scope="col">Avg. Exchange Rate</th>
        <th scope="col" class="text-success">Avg. Unit Price(Currency)</th>
        <th scope="col" class="text-success">Avg. Unit Price(KRW)</th>
        <!--
        <th scope="col" class="text-primary"><b>Total Cost(KRW)</b></th>
        -->
        <th scope="col">Product Group</th>
        <th scope="col">Supplier</th>
        <th scope="col">Updated</th>
        </tr>
      {% endif %}
    </thead>
    <tbody class="table-group-divider">
      {% for object in object_list_products %}
        <tr onclick="window.location='{{ object.get_absolute_url }}'">
            <th scope="row">{{ object.id }}</th>
            <td>{{ object.name }}</td>
            <td>{{ object.currency }}</td>
            <td class="integer_comma text-danger fw-bold">{{ object.inventory }}</td>
            <!--
            <td class="integer_comma text-info fw-bold">{{ object.total_quantity }}</td>
            -->
            <td class="float_rounded">{{ object.average_ex_rate_to_KRW }}</td>
            <td class="text-success float_rounded">{{ object.average_unit_price }}</td>
            <td class="text-success float_rounded">{{ object.average_unit_price_KRW }}</td>
            <!--
            <td class="text-primary float_rounded fw-bold">{{ object.total_added_price_KRW }}</td>
            -->
            <td>{{ object.product_type }}</td>
            <td>{{ object.supplier }}</td>
            <td class="date_string">{{ object.updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row">
  {% if user.profile.language == "Korean" %}
  <h3 class="text-center mt-3"><b>[판매 출고 현황]</b></h3>
  {% else %}
  <h3 class="text-center mt-3"><b>[Sales Status]</b></h3>
  {% endif %}
  <table class="table text-center table-hover">
    <thead class="table-light">
      <tr>
      {% if user.profile.language == "Korean" %}
      <th scope="col">판매 ID</th>
      <th scope="col">고객 PO 번호</th>
      <th scope="col">단위판매항목</th>
      <th scope="col" class="text-danger fw-bold">출고</th>
      <th scope="col" class="text-primary fw-bold">판매가격(KRW)</th>
      <th scope="col" class="text-success fw-bold">판매이익(KRW)</th>
      <th scope="col">비용-물류(KRW)</th>
      <th scope="col">비용-그외(KRW)</th>
      <th scope="col" class="text-danger fw-bold">순이익(KRW)</th>
      <th scope="col">고객</th>
      <th scope="col">판매원</th>
      <th scope="col">판매일</th>
      <th scope="col">변경일</th>
      {% else %}
      <th scope="col">Sales ID</th>
      <th scope="col">Sales Transaction ID</th>
      <th scope="col">Sales Positions</th>
      <th scope="col" class="text-danger fw-bold">Delivery Completed</th>
      <th scope="col" class="text-primary fw-bold">Sales Price(KRW)</th>
      <th scope="col" class="text-success fw-bold">Sales Profit(KRW)</th>
      <th scope="col">Cost-Delivery(KRW)</th>
      <th scope="col">Cost-etc(KRW)</th>
      <th scope="col" class="text-danger fw-bold">Net Profit(KRW)</th>
      <th scope="col">Customer</th>
      <th scope="col">Salesman</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      {% endif %}
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for object in object_list_sales %}
      <tr onclick="window.location='{{ object.get_absolute_url }}'">
        <th scope="row">{{ object.id }}</th>
        <td>{{ object.transaction_id }}</td>
        <td>{{ object.positions_ids }}</td>
        {% if user.profile.language == "Korean" %}
        <td class="text-danger fw-bold">{{ object.delivery_completed | yesno:"완료, 미결, 미정" }}</td>
        {% else %}
        <td class="text-danger fw-bold">{{ object.delivery_completed | yesno:"Yes, No, Unkown" }}</td>
        {% endif %}
        <td class="float_rounded text-primary fw-bold">{{ object.total_net_price }}</td>
        <td class="float_rounded text-success fw-bold">{{ object.total_net_profit }}</td>
        <td class="float_rounded">{{ object.delivery_cost }}</td>
        <td class="float_rounded">{{ object.extra_cost }}</td>
        <td class="float_rounded text-danger fw-bold">{{ object.final_profit }}</td>
        <td>{{ object.customer }}</td>
        <td>{{ object.salesman }}</td>
        <td class="date_string">{{ object.created }}</td>
        <td class="date_string">{{ object.updated }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>[단위출고 현황]</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>[Sales Position Status]</b></h3>
    {% endif %}
    <table class="table text-center table-hover">
      <thead class="table-light">
        <tr>
        {% if user.profile.language == "Korean" %}
        <th scope="col">ID</th>
        <th scope="col">품목</th>
        <th scope="col" class="text-primary fw-bold">단위수량</th>
        <th scope="col" class="text-danger fw-bold">재고수량</th>
        <th scope="col">판매가격(KRW)</th>
        <th scope="col" class="text-danger fw-bold">출고</th>
        <th scope="col" class="text-success fw-bold">판매</th>
        <th scope="col">입력일</th>
        {% else %}
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col" class="text-primary fw-bold">Quantity</th>
        <th scope="col" class="text-danger fw-bold">Inventory</th>
        <th scope="col">Total Price(KRW)</th>
        <th scope="col" class="text-danger fw-bold">Inventory Status</th>
        <th scope="col" class="text-success fw-bold">Sold out</th>
        <th scope="col">Updated</th>
        {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for object in object_list_positions %}
          <tr onclick="window.location='{{object.get_absolute_url}}'">
            <th scope="row">{{ object.id }}</th>
            <td>{{ object.product.name }}</td>
            <td class="integer_comma text-primary fw-bold">{{ object.quantity }}</td>
            <td class="integer_comma text-danger fw-bold">{{ object.get_inventory_with_quantity }}</td>
            <td class="float_rounded">{{ object.net_price }}</td>
            {% if user.profile.language == "Korean" %}
              <td class="text-danger fw-bold">{{ object.inventory_status | yesno:"가능, 불가, 미정"}}</td>
              <td class="text-success fw-bold">{{ object.position_sold | yesno:"완료, 미결, 미정" }}</td>
            {% else %}
              <td class="text-danger fw-bold">{{ object.inventory_status | yesno:"OK, NG, Unkown"}}</td>
              <td class="text-success fw-bold">{{ object.position_sold | yesno:"Yes, No, Unkown" }}</td>
            {% endif %}
            <td class="date_string">{{ object.updated }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>[단위입고 현황]</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>[Purchase Position Status]</b></h3>
    {% endif %}
    <table class="table text-center table-hover">
      <thead class="table-light">
        <tr>
        {% if user.profile.language == "Korean" %}
        <th scope="col">ID</th>
        <th scope="col">품목</th>
        <th scope="col">통화</th>
        <th scope="col" class="text-primary fw-bold">단위수량</th>
        <th scope="col">구매가격(KRW)</th>
        <th scope="col" class="text-danger fw-bold">입고현황</th>
        <th scope="col">입력일</th>
        {% else %}
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Currency</th>
        <th scope="col" class="text-primary fw-bold">Quantity</th>
        <th scope="col">Total Price(KRW)</th>
        <th scope="col" class="text-danger fw-bold">Status</th>
        <th scope="col">Updated</th>
        {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for object in object_list_purchase %}
          <tr onclick="window.location='{{object.get_absolute_url}}'">
          <th scope="row">{{ object.id }}</th>
          <td>{{ object.product.name }}</td>

          <td>{{ object.product.currency }}</td>
          <td class="integer_comma text-primary fw-bold">{{ object.quantity }}</td>

          <td class="float_rounded">{{ object.added_price_KRW }}</td>

          <td class="text-danger fw-bold">{{ object.status }}</td>
          <td class="date_string">{{ object.updated }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>YoY 순익</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>YoY Profit</b></h3>
    {% endif %}

    {% if no_data1 %}
      <div class="alert alert-warning" role="alert">
        {{ no_data1 }}
      </div>
    {% else %}
      <div class="card mb-3 text-center">
        <img src="data:image/png;base64, {{chart1 | safe}}" id='img'>
      </div>
    {% endif %}
  </div>

  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>{{ current_year }} 순익</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>{{ current_year }} Profit</b></h3>
    {% endif %}

    {% if no_data2 %}
      <div class="alert alert-warning" role="alert">
        {{ no_data2 }}
      </div>
    {% else %}
      <div class="card mb-3 text-center">
        <img src="data:image/png;base64, {{chart2 | safe}}" id='img'>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>YoY 매출</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>YoY Revenue</b></h3>
    {% endif %}

    {% if no_data3 %}
      <div class="alert alert-warning" role="alert">
        {{ no_data3 }}
      </div>
    {% else %}
      <div class="card mb-3 text-center">
        <img src="data:image/png;base64, {{chart3 | safe}}" id='img'>
      </div>
    {% endif %}
  </div>

  <div class="col-6">
    {% if user.profile.language == "Korean" %}
    <h3 class="text-center mt-3"><b>{{ current_year }} 매출</b></h3>
    {% else %}
    <h3 class="text-center mt-3"><b>{{ current_year }} Revenue</b></h3>
    {% endif %}

    {% if no_data4 %}
      <div class="alert alert-warning" role="alert">
        {{ no_data4 }}
      </div>
    {% else %}
      <div class="card mb-3 text-center">
        <img src="data:image/png;base64, {{chart4 | safe}}" id='img'>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
