{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
BST Project - Dashboard
{% endblock title %}

{% block content %}

{% if user.profile.language == "Korean" %}
{% else %}
{% endif %}

{% if user.profile.language == "Korean" %}
<h3 class="text-center mt-3"><b>년간 매출 실적</b></h3>
{% else %}
<h3 class="text-center mt-3"><b>YoY Performance</b></h3>
{% endif %}

{% if no_data1 %}
  <div class="alert alert-warning" role="alert">
    {{ no_data }}
  </div>

{% else %}

<div class="card mb-3 text-center">
  <img src="data:image/png;base64, {{chart1 | safe}}" id='img'>
</div>

{% endif %}

{% if user.profile.language == "Korean" %}
<h3 class="text-center mt-3"><b>{{ current_year }} 매출 실적</b></h3>
{% else %}
<h3 class="text-center mt-3"><b>{{ current_year }} Revenue</b></h3>
{% endif %}

{% if no_data2 %}
  <div class="alert alert-warning" role="alert">
    {{ no_data }}
  </div>

{% else %}

  <div class="card mb-3 text-center">
    <img src="data:image/png;base64, {{chart2 | safe}}" id='img'>
  </div>

{% endif %}


{% endblock content %}
