{% extends "base.html" %}

{% block title %}
    Detail of position #{{object.id}}
{% endblock title %}

{% block content %}

<div class="row mt-5 mb-3">
    <div class="col-3">
        <img src="{{ object.product.image.url }}" class="img-fluid" alt="{{ object.product.name }}">
    </div>
    <div class="col-9">
        <ul>
            <li>Product Type: <b>{{ object.product.product_type }}</b></li>
            <li>Unit Price: <b>{{ object.product.price }}</b></li>
        </ul>
    </div>
</div>

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Position id</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Created Date</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.product.name }}</td>
            <td>{{ object.quantity }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.created }}</td>
        </tr>
    </tbody>
</table>

{% endblock content %}