{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
BST Project - Position List
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'pagination.css' %}">

<h3 class="text-center"><b>Position List</b></h3>

<div class="d-flex mb-3">
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'products:productlist' %}" role="button">Go Back</a>
    </div>
    <div class="me-auto p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:position-add' %}" role="button">Add Position</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-modal">
            Download
        </button>
    </div>
</div>


<!-- Modal for Form Post-->
<div class="modal fade" id="download-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Positions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-outline-primary">save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table text-center table-hover table-light">
    <thead>
        <tr>
        <th scope="col">Position ID</th>
        <th scope="col">Product</th>

        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Added Cost</th>

        <th scope="col">Total Net-Price</th>
        <th scope="col">Total Price</th>

        <th scope="col">Exchange Rate to KRW</th>
        <th scope="col">Added Cost-KRW</th>
        <th scope="col">Total Net-Price-KRW</th>
        <th scope="col">Total Price-KRW</th>
        
        <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr onclick="window.location='{{object.get_absolute_url}}'">
                <th scope="row">{{ object.id }}</th>
                <td>{{ object.product.name }}</td>

                <td>{{ object.quantity }}</td>
                <td>{{ object.net_unit_price }}</td>
                <td>{{ object.added_cost }}</td>

                <td>{{ object.total_net_price }}</td>
                <td>{{ object.total_added_price }}</td>

                <td>{{ object.ex_rate_to_KRW }}</td>
                <td>{{ object.added_cost_KRW }}</td>
                <td>{{ object.total_net_price_KRW }}</td>
                <td>{{ object.total_added_price_KRW }}</td>

                <td>{{ object.created }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <nav class="pagination">
        {% if object_list.has_previous %}
            {% if object_list.previous_page_number != 1 %}
                <a href="?page=1">&laquo;</a>
            {% endif %}
            <a href="?page={{object_list.previous_page_number}}"><</a>
        {% endif %}

        <a class="active">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}</a>

        {% if object_list.has_next %}
            <a href="?page={{object_list.next_page_number}}">></a>
            {% if object_list.next_page_number != object_list.paginator.num_pages %}
                <a href="?page={{object_list.paginator.num_pages}}">&raquo;</a>
            {% endif %}
        {% endif %}
    </nav>
</div>

{% endblock %}
