{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Position List
{% endblock %}

{% block scripts %}
<script src="{% static 'table_numbers.js' %}" defer></script>
{% endblock scripts%}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'pagination.css' %}">


{% if user.profile.language == "Korean" %}
<h3 class="text-center"><b>단위판매 등록 리스트</b></h3>
{% else %}
<h3 class="text-center"><b>Sales Position List</b></h3>
{% endif %}

<div class="d-flex mb-3">
    {% if user.profile.language == "Korean" %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:position-add' %}" role="button">단위판매등록</a>
    </div>
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:sales-add' %}" role="button">단위판매실행</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" id="search-btn" data-bs-toggle="modal" data-bs-target="#positionsModal">보기 분류</button>
    </div>
    {% if object_list_products %}
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offCanvasProductsInfo" aria-controls="offCanvasProductsInfo">
          제품 정보 보기
        </button>
    </div>
    {% endif %}    
    <div class="me-auto p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:saleslist' %}" role="button">돌아가기</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-modal">
            파일에 저장
        </button>
    </div>
    {% else %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:position-add' %}" role="button">Add Position</a>
    </div>
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:sales-add' %}" role="button">Sales Execution</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" id="search-btn" data-bs-toggle="modal" data-bs-target="#positionsModal">Sort By</button>
    </div>
    {% if object_list_products %}
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offCanvasProductsInfo" aria-controls="offCanvasProductsInfo">
          Product Info
        </button>
    </div>
    {% endif %}    
    <div class="me-auto p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:saleslist' %}" role="button">Back to Sales</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-modal">
            Download
        </button>
    </div>
    {% endif %}
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offCanvasProductsInfo" aria-labelledby="offcanvasProductsInfoLabel">
    <div class="offcanvas-header">
        {% if user.profile.language == "Korean" %}
        <h5 class="offcanvas-title text-primary fw-bold" id="offCanvasProductsLabel">[제품 정보]</h5>
        {% else %}
        <h5 class="offcanvas-title text-primary fw-bold" id="offCanvasProductsLabel">[Products Info]</h5>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <table class="table text-center table-hover table-light">
                <thead>
                {% if user.profile.language == "Korean" %}
                    <tr>
                    <th scope="col">제품 ID</th>
                    <th scope="col">이름</th>
                    <th scope="col">통화</th>
                    <th scope="col" class="text-danger"><b>재고수량</b></th>
                    <th scope="col">평균원환율</th>
                    <th scope="col" class="text-success">평균구매단가(통화)</th>
                    <th scope="col" class="text-success">평균구매단가(KRW)</th>
                    <th scope="col" class="text-info">총입고수량</th>
                    <th scope="col" class="text-primary"><b>총입고원가(KRW)</b></th>
                    <th scope="col">분류</th>
                    <th scope="col">공급사</th>
                    <th scope="col">변경일시</th>
                    </tr>
                {% else %}
                    <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Currency</th>
                    <th scope="col" class="text-danger"><b>Inventory</b></th>
                    <th scope="col">Avg. Exchange Rate</th>
                    <th scope="col" class="text-success">Avg. Unit Price(Currency)</th>
                    <th scope="col" class="text-success">Avg. Unit Price(KRW)</th>
                    <th scope="col" class="text-info">Total Quantity</th>
                    <th scope="col" class="text-primary"><b>Total Cost(KRW)</b></th>
                    <th scope="col">Product Group</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Updated</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for object in object_list_products %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.name }}</td>
                        <td>{{ object.currency }}</td>
                        <td class="integer_comma text-danger fw-bold">{{ object.inventory }}</td>
                        <td class="float_rounded">{{ object.average_ex_rate_to_KRW }}</td>
                        <td class="text-success float_rounded">{{ object.average_unit_price }}</td>
                        <td class="text-success float_rounded">{{ object.average_unit_price_KRW }}</td>
                        <td class="integer_comma text-info fw-bold">{{ object.total_quantity }}</td>
                        <td class="text-primary float_rounded fw-bold">{{ object.total_added_price_KRW }}</td>
                        <td>{{ object.product_type }}</td>
                        <td>{{ object.supplier }}</td>
                        <td>{{ object.updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="offcanvas-footer">
            {% if profile.language == "Korean" %}
            <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas">닫기</button>
            {% else %}
            <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas">Close</button>
            {% endif %}
        </div>
    <!--
        <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </div>
        -->
    </div>
</div>

<!-- Modal for Form Post-->
<div class="modal fade" id="download-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Positions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-outline-primary">save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Search -->
<div class="modal fade" id="positionsModal" tabindex="-1" aria-labelledby="positionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {% if user.profile.language == "Korean" %}
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="positionsModalLabel">출고단위 분류</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-body">
            <div id="alert-box"></div>
            <form id="positions-form" action="" method="GET">
              {{ search_form | crispy }}
              <button type="submit" class="btn btn-outline-primary mt-2">분류 시작</button>
            </form>
        </div>
        {% else %}
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="positionsModalLabel">Positions sort by</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-body">
            <div id="alert-box"></div>
            <form id="positions-form" action="" method="GET">
              {{ search_form | crispy }}
              <button type="submit" class="btn btn-outline-primary mt-2">Search</button>
            </form>
        </div>
        {% endif %}
      </div>
    </div>
</div>

{% if no_data %}
  <div class="alert alert-warning" role="alert">
    {{ no_data }}
  </div>
{% endif %}

{% if positions_df %}

    <div class="card mb-3 text-center">
    <!-- {{ positions_df | safe }} -->
    <img src="data:image/png;base64, {{chart | safe}}" id='img'>
    </div>

{% endif %}

<table class="table text-center table-hover table-light">
    <thead>
    {% if user.profile.language == "Korean" %}
        <tr>
        <th scope="col">단위판매 ID</th>
        <th scope="col">품목</th>

        <th scope="col" class="text-info fw-bold">판매단가(KRW)</th>
        <th scope="col" class="text-success fw-bold">단위수량</th>
        <th scope="col" class="text-primary fw-bold">판매가격(KRW)</th>

        <th scope="col" class="text-danger fw-bold">출고가능</th>
        <th scope="col" class="text-success fw-bold">판매완료</th>
        <th scope="col" class="text-danger fw-bold">출고이익(KRW)</th>
        <th scope="col">마진율</th>

        <th scope="col" class="text-danger fw-bold">재고수량</th>
        <th scope="col">평균수입단가(KRW)</th>
        <th scope="col">제품그룹</th>
        <th scope="col">생성일자</th>
        <th scope="col">변경일자</th>
        </tr>
    {% else %}
        <tr>
        <th scope="col">Position ID</th>
        <th scope="col">Product</th>

        <th scope="col" class="text-info fw-bold">Sales Unit Price(KRW)</th>
        <th scope="col" class="text-success fw-bold">Quantity</th>
        <th scope="col" class="text-primary fw-bold">Total Price(KRW)</th>

        <th scope="col" class="text-danger fw-bold">Inventory Status</th>
        <th scope="col" class="text-success fw-bold">Sold out</th>
        <th scope="col" class="text-danger fw-bold">Delivery Profit(KRW)</th>
        <th scope="col">Margin Percentage</th>

        <th scope="col" class="text-danger fw-bold">Inventory</th>
        <th scope="col">Purchase Avg. Unit Price(KRW)</th>
        <th scope="col">Product Group</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        </tr>
    {% endif %}
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr onclick="window.location='{{object.get_absolute_url}}'">
                <th scope="row">{{ object.id }}</th>
                <td>{{ object.product.name }}</td>

                <td class="float_rounded text-info fw-bold">{{ object.unit_price }}</td>
                <td class="integer_comma text-success fw-bold">{{ object.quantity }}</td>
                <td class="float_rounded text-primary fw-bold">{{ object.net_price }}</td>

                <td class="text-danger fw-bold">{{ object.inventory_status }}</td>
                <td class="text-success fw-bold">{{ object.position_sold }}</td>
                <td class="float_rounded text-danger fw-bold">{{ object.net_profit }}</td>
                <td class="float_rounded">{{ object.margin_percentage }}</td>

                <td class="integer_comma text-danger fw-bold">{{ object.product.inventory }}</td>
                <td class="float_rounded text-info fw-bold">{{ object.product.average_unit_price_KRW }}</td>
                <td>{{ object.product.product_type }}</td>
                <td>{{ object.created }}</td>
                <td>{{ object.updated }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!--
<div class="text-center">
    <nav class="pagination">
        {% if object_list.has_previous %}
            {% if object_list.previous_page_number != 1 %}
                <a href="?page=1">&laquo;</a>
            {% endif %}
            <a href="?page={{object_list.previous_page_number}}"><</a>
        {% endif %}

        <a class="active">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}</a>

        {% if object_list.has_next %}
            <a href="?page={{object_list.next_page_number}}">></a>
            {% if object_list.next_page_number != object_list.paginator.num_pages %}
                <a href="?page={{object_list.paginator.num_pages}}">&raquo;</a>
            {% endif %}
        {% endif %}
    </nav>
</div>
-->

{% endblock %}
