{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    detail of #{{name}}
{% endblock title %}

{% block content %}

{% if confirm %}
    <div class="alert alert-primary" role="alert">
        Sales of #{{profile.transaction_id}} has been saved!
    </div>
{% endif %}

<div class="text-center">
    <b>Sales ID: {{ profile.id }}</b>
    <img src="{{ profile.customer.logo.url }}" alt="new profile" class="avatar-md">
</div>

<br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-outline-primary"
    value="Save"
    type="submit">
    <input class="btn btn-outline-primary"
    value="Cancel"
    type="button"
    onclick="location.href='{% url "sales:saleslist" %}'">
    {% if profile.transaction_id %}
        <input class="btn btn-outline-primary"
        value="Delete"
        type="button"
        onclick="location.href='{% url "sales:sales-delete" profile.id %}'">
    {% endif %}
</form>

{% endblock content %}