{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'sales/home.js' %}" defer></script>
<script src="{% static 'table_numbers.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Sales List
{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'pagination.css' %}">

{% if user.profile.language == "Korean" %}
<h3 class="text-center mt-3"><b>판매 PO 리스트</b></h3>
{% else %}
<h3 class="text-center mt-3"><b>Sales PO List</b></h3>
{% endif %}

<div class="d-flex mb-3">
    {% if user.profile.language == "Korean" %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:sales-add' %}" role="button">단위판매 PO</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" id="search-btn" data-bs-toggle="modal" data-bs-target="#salesModal">보기분류</button>
    </div>
    {% if object_list_products %}
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offCanvasProductsInfo" aria-controls="offCanvasProductsInfo">
        제품 정보 보기
        </button>
    </div>
    {% endif %}    
    <div class="me-auto p-1">
        <button type="button" class="btn btn-outline-primary not-visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">리포트</button>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-modal">
            파일에 저장
        </button>
    </div>
    {% else %}
    <div class="p-1">
        <a class="btn btn-outline-primary" href="{% url 'sales:sales-add' %}" role="button">Position PO</a>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" id="search-btn" data-bs-toggle="modal" data-bs-target="#salesModal">Sort By</button>
    </div>
    {% if object_list_products %}
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offCanvasProductsInfo" aria-controls="offCanvasProductsInfo">
          Product Info
        </button>
    </div>
    {% endif %}    
    <div class="me-auto p-1">
        <button type="button" class="btn btn-outline-primary not-visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Report</button>
    </div>
    <div class="p-1">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-modal">
            Download
        </button>
    </div>
    {% endif %}
    <!-- do not upload directly, rather use Django Admin import_export functionality until it is required
    <div class="p-1">
        <a class="btn btn-outline-danger" href="{% url 'reports:from-file' %}" role="button">Upload from File</a>
    </div>
    -->
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offCanvasProductsInfo" aria-labelledby="offcanvasProductsInfoLabel">
    <div class="offcanvas-header">
        {% if user.profile.language == "Korean" %}
        <h5 class="offcanvas-title text-primary fw-bold" id="offCanvasProductsLabel">[제품 정보]</h5>
        {% else %}
        <h5 class="offcanvas-title text-primary fw-bold" id="offCanvasProductsLabel">[Products Info]</h5>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <table class="table text-center table-hover">
                <thead class="table-light">
                {% if user.profile.language == "Korean" %}
                    <tr>
                    <th scope="col">제품 ID</th>
                    <th scope="col">이름</th>
                    <th scope="col">통화</th>
                    <th scope="col" class="text-danger"><b>재고수량</b></th>
                    <!--
                    <th scope="col" class="text-info">총입고수량</th>
                    -->
                    <th scope="col">평균원환율</th>
                    <th scope="col" class="text-success">평균구매단가(통화)</th>
                    <th scope="col" class="text-success">평균구매단가(KRW)</th>
                    <!--
                    <th scope="col" class="text-primary"><b>총입고원가(KRW)</b></th>
                    -->
                    <th scope="col">분류</th>
                    <th scope="col">공급사</th>
                    <th scope="col">변경일시</th>
                    </tr>
                {% else %}
                    <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Currency</th>
                    <th scope="col" class="text-danger"><b>Inventory</b></th>
                    <!--
                    <th scope="col" class="text-info">Total Quantity</th>
                    -->
                    <th scope="col">Avg. Exchange Rate</th>
                    <th scope="col" class="text-success">Avg. Unit Price(Currency)</th>
                    <th scope="col" class="text-success">Avg. Unit Price(KRW)</th>
                    <!--
                    <th scope="col" class="text-primary"><b>Total Cost(KRW)</b></th>
                    -->
                    <th scope="col">Product Group</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Updated</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody class="table-group-divider">
                {% for object in object_list_products %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.name }}</td>
                        <td>{{ object.currency }}</td>
                        <td class="integer_comma text-danger fw-bold">{{ object.inventory }}</td>
                        <!--
                        <td class="integer_comma text-info fw-bold">{{ object.total_quantity }}</td>
                        -->
                        <td class="float_rounded">{{ object.average_ex_rate_to_KRW }}</td>
                        <td class="text-success float_rounded">{{ object.average_unit_price }}</td>
                        <td class="text-success float_rounded">{{ object.average_unit_price_KRW }}</td>
                        <!--
                        <td class="text-primary float_rounded fw-bold">{{ object.total_added_price_KRW }}</td>
                        -->
                        <td>{{ object.product_type }}</td>
                        <td>{{ object.supplier }}</td>
                        <td class="date_string">{{ object.updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="offcanvas-footer">
            {% if profile.language == "Korean" %}
            <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas">닫기</button>
            {% else %}
            <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas">Close</button>
            {% endif %}
        </div>
    <!--
        <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </div>
        -->
    </div>
</div>
  

<!-- Modal for Report-->
<div class="modal fade" id="reportModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="alert-box"></div>
            <div class="modal-body" id="modal-body">
                <form id="report-form">
                    {% csrf_token %}
                    {{ report_form | crispy }}
                    <button type="submit" class="btn btn-outline-primary">save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Form Post-->
<div class="modal fade" id="download-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Sales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-outline-primary">save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Search -->
<div class="modal fade" id="salesModal" tabindex="-1" aria-labelledby="salesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {% if user.profile.language == "Korean" %}
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="salesModalLabel">보기 분류</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="alert-box"></div>
            <form id="sales-form" action="" method="GET">
              {{ search_form | crispy }}
              <button type="submit" class="btn btn-outline-primary mt-2">분류 시작</button>
            </form>
        </div>
        {% else %}
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="salesModalLabel">Sales sort by</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="alert-box"></div>
            <form id="sales-form" action="" method="GET">
              {{ search_form | crispy }}
              <button type="submit" class="btn btn-outline-primary mt-2">Search</button>
            </form>
        </div>
        {% endif %}
      </div>
    </div>
</div>

{% if no_data %}
  <div class="alert alert-warning" role="alert">
    {{ no_data }}
  </div>
{% endif %}

{% if merged_df %}

    <div class="card mb-3 text-center">
    <!--{{ merged_df | safe }}-->
        <img src="data:image/png;base64, {{chart | safe}}" id='img'>
    </div>

{% endif %}
<br>
<br>

<table class="table text-center table-hover">
    <thead class="table-light">
    {% if user.profile.language == "Korean" %}
        <tr>
        <th scope="col">판매 ID</th>
        <th scope="col">고객 PO 번호</th>
        <th scope="col">단위판매항목</th>

        <th scope="col" class="text-danger fw-bold">출고</th>

        <th scope="col" class="text-primary fw-bold">판매가격(KRW)</th>
        <th scope="col" class="text-success fw-bold">판매이익(KRW)</th>

        <th scope="col">비용-물류(KRW)</th>
        <th scope="col">비용-그외(KRW)</th>

        <th scope="col" class="text-danger fw-bold">순이익(KRW)</th>

        <th scope="col">고객</th>
        <th scope="col">판매원</th>
        <th scope="col">판매 일시</th>
        <th scope="col">변경 일시</th>
        </tr>
    {% else %}
        <tr>
        <th scope="col">Sales ID</th>
        <th scope="col">Sales Transaction ID</th>
        <th scope="col">Sales Positions</th>
        
        <th scope="col" class="text-danger fw-bold">Delivery Completed</th>

        <th scope="col" class="text-primary fw-bold">Sales Price(KRW)</th>
        <th scope="col" class="text-success fw-bold">Sales Profit(KRW)</th>

        <th scope="col">Cost-Delivery(KRW)</th>
        <th scope="col">Cost-etc(KRW)</th>

        <th scope="col" class="text-danger fw-bold">Net Profit(KRW)</th>

        <th scope="col">Customer</th>
        <th scope="col">Salesman</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        </tr>
    {% endif %}
    </thead>
    <tbody class="table-group-divider">
        {% for object in object_list %}
            <tr onclick="window.location='{{object.get_absolute_url}}'">
                <th scope="row">{{ object.id }}</th>
                <td>{{ object.transaction_id }}</td>
                <td>{{ object.positions_ids }}</td>

                {% if user.profile.language == "Korean" %}
                    <td class="text-danger fw-bold">{{ object.delivery_completed  | yesno:"완료, 미결, 미정" }}</td>
                {% else %}
                    <td class="text-danger fw-bold">{{ object.delivery_completed  | yesno:"Yes, No, Unkown" }}</td>
                {% endif %}

                <td class="float_rounded text-primary fw-bold">{{ object.total_net_price }}</td>
                <td class="float_rounded text-success fw-bold">{{ object.total_net_profit }}</td>

                <td class="float_rounded">{{ object.delivery_cost }}</td>
                <td class="float_rounded">{{ object.extra_cost }}</td>

                <td class="float_rounded text-danger fw-bold">{{ object.final_profit }}</td>

                <td>{{ object.customer }}</td>
                <td>{{ object.salesman }}</td>
                <td class="date_string">{{ object.created }}</td>
                <td class="date_string">{{ object.updated }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!--
<div class="text-center">
    <nav class="pagination">
        {% if object_list.has_previous %}
            {% if object_list.previous_page_number != 1 %}
                <a href="?page=1">&laquo;</a>
            {% endif %}
            <a href="?page={{object_list.previous_page_number}}"><</a>
        {% endif %}

        <a class="active">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}</a>

        {% if object_list.has_next %}
            <a href="?page={{object_list.next_page_number}}">></a>
            {% if object_list.next_page_number != object_list.paginator.num_pages %}
                <a href="?page={{object_list.paginator.num_pages}}">&raquo;</a>
            {% endif %}
        {% endif %}
    </nav>
</div>
-->

{% endblock content %}
