{% extends "base.html" %} 

{% block title %}
    My To Do List
{% endblock %}

{% block content %}

<!-- Here you start to edit the body of Bulletin -->
<div class="text-center">
    <h3 class="text-primary"><b>To-Do List</b></h2>
    <table class="table table-hover" >
        <thead class="table-light">
            <tr class="text-primary">
                <th>Title</th>
                <th>Priority</th>
            </tr>
        </thead>
        {% for x in todolist %}
        <tbody class="table-group-divider">
            <tr onclick="window.location='{{x.get_absolute_url}}'">
                <td>{{x.title}}</td>
                <td>{{x.priority}}</td>
            </tr>
        </tbody>
        {% empty %}
        <h4>You have no lists!</h4>
        {% endfor %}
    </table>
    <input class="btn btn-outline-primary"
        value="Add a new To-Do"
        type="button"
        onclick="location.href='{% url "todolist:list-add" %}'">
    <input class="btn btn-outline-primary"
        value="Go to Calendar"
        type="button"
        onclick="location.href='{% url "calendarwithevent:calendarwithevent" %}'">
</div>
<!-- End Content -->

{% endblock %}