{% extends "base.html" %} 

{% block title %}
    To Do Item Delete Confirmation
{% endblock %}

{% block content %}

<div class="text-center">

    <h3 class="text-primary"><b>Delete To-do Item</b></h3>
    
    <h5>Are you sure you want to delete the item:<br><b>{{ object.title }}</b> from the To-Do <b>{{ todo_list.title }}</b>?</h5>

    <form method="POST">
        {% csrf_token %}
        <input class="btn btn-primary"
            value="Yes, delete."
            type="submit">
        <input class="btn btn-primary"
            value="Cancel"
            type="button"
            onclick="location.href='{% url "todolist:todoitemlist" todo_list.id %}'">
    </form>

</div>

{% endblock %}