{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    To Do Item Form
{% endblock %}


{% block content %}

<h3 class="text-center text-primary"><b>{{ title }}</b></h3>
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <input class="btn btn-outline-primary"
            value="Submit"
            type="submit">
        <input class="btn btn-outline-primary"
            value="Cancel"
            type="button"
            onclick="location.href='{% url "todolist:todoitemlist" todo_list.id %}'">
        {% if object %}
            <input class="btn btn-outline-primary"
            value="Delete this item"
            type="button"
            onclick="location.href='{% url "todolist:item-delete" todo_list.id object.id %}'">
        {% endif %}        
    </div>
</form>

{% endblock %}