{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Event Item Form
{% endblock %}


{% block content %}
<h2 class="text-center text-primary"><b>[{{ title }}]</b></h2>
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <input class="btn btn-outline-primary"
            value="Save"
            type="submit">
        <input class="btn btn-outline-primary"
            value="Cancel"
            type="button"
            onclick="location.href='{% url "calendarwithevent:calendarevents" %}'">
        {% if object %}
            <input class="btn btn-outline-primary"
            value="Delete this event"
            type="button"
            onclick="location.href='{% url "calendarwithevent:event-delete" object.id %}'">
        {% endif %}
    </div>          
</form>

{% endblock %}