{% load static %}
{% url 'sales:home' as path_to_home %}
{% url 'sales:saleslist' as path_to_sales %}
{% url 'reports:main' as path_to_reports %}
{% url 'products:productlist' as path_to_products %}
{% url 'customers:customerlist' as path_to_customers %}
{% url 'profiles:my' as path_to_my_profile %}
{% url 'myadmin:memberlist' as path_to_myadmin %}
{% url 'tools:main' as path_to_tools %}

{% if user.profile.menubar == "Side" %}
<nav class="nav flex-sm-column nav-tabs">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path_to_home}}"><img src="{% static 'logo.png' %}" class="logo-sm"></a>
      <ul class="navbar-nav">
      <br>
{% else %}
<nav class="navbar navbar-expand-lg nav-pills">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path_to_home}}"><img src="{% static 'logo.png' %}" class="logo-sm"></a>
      <ul class="navbar-nav">
{% endif %}
      {% if user.profile.language == "Korean" %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_sales %}active{% endif %}" href="{{path_to_sales}}">판매</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_products %}active{% endif %}" href="{{path_to_products}}">품목</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_customers %}active{% endif %}" href="{{path_to_customers}}">고객</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_reports %}active{% endif %}" href="{{path_to_reports}}">보고서</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_myadmin %}active{% endif %}" href="{{path_to_myadmin}}">관리자</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_tools %}active{% endif %}" href="{{path_to_tools}}">도구함</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_sales %}active{% endif %}" href="{{path_to_sales}}">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_products %}active{% endif %}" href="{{path_to_products}}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_customers %}active{% endif %}" href="{{path_to_customers}}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_reports %}active{% endif %}" href="{{path_to_reports}}">Reports</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_myadmin %}active{% endif %}" href="{{path_to_myadmin}}">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_tools %}active{% endif %}" href="{{path_to_tools}}">Tools</a>
        </li>
      {% endif %}
      </ul>

  {% if user.profile.menubar != "Side" %}
    </div>
    <div class="navbar-nav" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form action="https://google.com/search" method="get">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="type in..." aria-label="Recipient's username" aria-describedby="button-addon2" name="query">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Google Search</button>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a href="https://getbootstrap.com/" class="nav-link {% if request.path == 'https://getbootstrap.com/' %}active{% endif %}">Bootstrap</a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/" class="nav-link {% if request.path == 'https://www.youtube.com/' %}active{% endif %}">YouTube</a>
        </li>
      </ul>
  {% endif %}

  {% if request.user.is_authenticated %}
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" style="color:white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% if user.profile.menubar == "Side" %}
          <img src="{{request.user.profile.avatar.url}}" class="avatar-sm"><br><span style="color:white">{{request.user}}</span>
    {% else %}
          <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
    {% endif %}
      </div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if user.profile.language == "Korean" %}
        <li><a class="dropdown-item {% if request.path == path_to_my_profile%}active{% endif %}" href="{{path_to_my_profile}}">프로파일</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a></li>
        {% else %}
        <li><a class="dropdown-item {% if request.path == path_to_my_profile%}active{% endif %}" href="{{path_to_my_profile}}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  </div>
</nav>
